/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

a {
    text-decoration:none;
}
.logo {
    float: left;
    border: none !important;
    margin-top: 35px;
}
.img{
    float: left;
    border: none !important;
    margin-top: 35px;
}
header {
    background-image: linear-gradient(-90deg, #1d5e9a, #030343 );
    padding: 0 !important;
    overflow: visible !important;
}
.nav{
    color: rgba(255,255,255,.8);
}