/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

a {
    text-decoration:none;
}
.logo {
    float: left;
    margin-top: 50px;

}

.nav{
    color: rgba(255,255,255,.8);
}